name: CICD-SEC-1 - Auto-merge abuse

on:
    pull_request:
        types: [labeled]

permissions: write-all

jobs:
    automerge-and-run:
        if: github.event.label.name == 'automerge'
        runs-on: ubuntu-latest
        steps:
        - name: Enable Pull Request Automerge
          run: gh pr merge --merge --auto "1"

        - name: Echo message
          run: echo "Automerge successfully done."